        aside a {
            color: aquamarine;
        }
        /* Ligadura fuerte, si o si scumple con esa estructura */
        header > nav > a {
            font-size: 50px;

        }
        body {
            font-family: "Shadows Into Light", cursive;
            font-weight: 400;
            font-style: normal;
          }
          
        h1 {
            color: lemonchiffon;
            color: rgba(218, 70, 100, 0.726);
            outline: 1px solid blue;
            height: 400px;
            width: 100%;
            border: 5px solid orange;
            padding: 50px;
            margin: 50px;
        }

        .texto-grande {
            font-size: 60px;

        }

        #texto-pequeno {
            font-size: 10px;
            color: blueviolet;
        }

        .transformaciones {
            /* Primera letra en mayuscula */
            text-transform: capitalize;
            /* Todo en minuscula 
            text-transform: lowercase;*/
            /* Todo en mayuscula
            text-trnasform: uppercase; */
        }

        .espaciado-de-texto {
            /* interlineado */
            line-height: 40px;
            /* Espaciado entre letras */
            letter-spacing: 2px;
            /* Distancia entre palabras */
            word-spacing: 10px;
        }

        .grosor-letra {
            font-weight: bolder;

        }

        .caja-padre {
            border-color: red;
            border: 2px red solid;
        }

        .posicion-caja-1, .posicion-caja-2, .posicion-caja-3 {
            height: 100px;
            width: 100px;
            border: 3px solid blue;
            margin: 20px;
        }

        .posicion-caja-1 {
            /* Se desplaza teniendo en cuenta su posicion de origen */
            position: relative;
            left: 40px;
            /* Desplazamiento de arriba a bajo 
            top: 40px;*/
            /* Desplazamiento de abajo hacia arriba */
            bottom: 50px;
        }

        .posicion-caja-2 {
            position: absolute;
            left: 50px;
            border-color: blueviolet;
            top: 0;
        }

        .posicion-caja-3 {
            position: fixed;
            top: 0;
            left: 0;

        }